body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skills {
  border: 1px solid #ccc;
  border-radius: 10px; 
  padding: 8px 12px; 
  margin-right: 10px; 
  margin-bottom: 10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.stacks {
  border: 1px solid #ccc;
  border-radius: 10px; 
  padding: 2px 12px; 
  margin-right: 10px; 
  margin-bottom: 10px;
}

.stacks-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}


